body{
  margin: 0;
}
.App {
  text-align: center;
}

.add button{
  margin: 2px 2px 2px 2px;
}

.adddata input{
  width: 50px;
  height: 25px;
  margin: 2px 2px 2px 2px;
}

.adddata button{
  margin: 2px 2px 2px 2px;
}
.postdata{
  
  display: flex;
  justify-content: center;
}
.post{
  width: 60rem;
  border: 1px solid black;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 1px rgb(228, 159, 22);
}