body{
  margin: 0;
  background-color: rgb(62, 60, 60);
}
.App {
  text-align: center;
  color: azure;
}

.add button{
  margin: 2px 2px 2px 2px;
}

.adddata input{
  width: 50px;
  height: 25px;
  margin: 2px 2px 2px 2px;
}

.adddata button{
  margin: 2px 2px 2px 2px;
}
.postdata{
  
  display: flex;
  justify-content: center;
}
.post{
  width: 40rem;
  border-radius: 1rem;
  border: 2px solid rgb(221, 219, 219);
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 2px rgb(200, 197, 190);
}
.indata {
  padding:.6rem .5rem .2rem .1rem;
}
.postAuthor{
margin: .2rem .2rem .2rem .2rem;
padding:.6rem 5rem .2rem 3rem;

}
.addpost{
  display: flex;
  flex-direction: column;
}

.addpost button{
  margin-top: .2rem;
  color: aliceblue;
  background-color: rgb(8, 0, 255);
  width: 12rem;
  font-size: larger;
  font-weight: bolder;
  padding-top: 1rem;
  border-radius: .5rem;
}